### Imbalanced Dataset Handaling

1.Upsampling

2.Down Sampling

In [8]:
import numpy as np
import pandas as pd

In [11]:
np.random.seed(123)
n_smaple = 1000
class_0_ratio =0.9
n_class_0 = int(n_smaple*class_0_ratio)
n_class_1 = n_smaple - n_class_0

In [12]:
n_class_0,n_class_1

(900, 100)

In [19]:
class_0 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0]*n_class_0
})  
class_1 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

In [20]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [21]:
df.head()

   feature1  feature2  target
0 -1.774224  0.285744       0
1 -1.201377  0.333279       0
2  1.096257  0.531807       0
3  0.861037 -0.354766       0
4 -1.520367 -1.120815       0

In [22]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

### Upsampling

In [25]:
df_minority = df[df['target']==1]
df_majority =df[df['target']==0]

In [26]:
df_minority.head()

     feature1  feature2  target
900 -2.643425  0.571923       1
901 -0.448991 -0.217233       1
902 -0.358907  0.054318       1
903  0.133194  0.155998       1
904 -0.644242  0.467810       1

In [29]:
df_majority.head()

   feature1  feature2  target
0 -1.774224  0.285744       0
1 -1.201377  0.333279       0
2  1.096257  0.531807       0
3  0.861037 -0.354766       0
4 -1.520367 -1.120815       0

In [32]:
from sklearn.utils import resample

In [33]:
df_minority_upsample=resample(df_minority,replace=True,n_samples=len(df_majority),random_state=42)

In [34]:
df_minority_upsample.shape

(900, 3)

In [36]:
df_minority_upsample.value_counts()

feature1   feature2   target
 0.672100   2.062063  1         19
 0.615975   0.827540  1         18
 0.931332  -1.761313  1         18
-0.702152  -0.028708  1         16
 1.429559   1.794486  1         16
                                ..
-0.814335  -0.927794  1          4
 0.200704   0.874327  1          4
 0.353186   1.057770  1          4
 0.029244  -0.926542  1          4
 1.308688  -0.690783  1          3
Name: count, Length: 100, dtype: int64

In [37]:
df_minority_upsample['target'].value_counts()

target
1    900
Name: count, dtype: int64

In [38]:
df_upsampled = pd.concat([df_majority,df_minority_upsample])

In [39]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

In [40]:
df_upsampled.head()

   feature1  feature2  target
0 -1.774224  0.285744       0
1 -1.201377  0.333279       0
2  1.096257  0.531807       0
3  0.861037 -0.354766       0
4 -1.520367 -1.120815       0

In [42]:
df_upsampled.shape

(1800, 3)

### Downsampling

In [43]:
df_majority_downsample=resample(df_majority,replace=True,n_samples=len(df_minority),random_state=42)

In [44]:
df_majority_downsample.shape

(100, 3)

In [45]:
df_majority_downsample['target'].value_counts()

target
0    100
Name: count, dtype: int64

In [46]:
df_downsampled = pd.concat([df_minority,df_majority_downsample])

In [47]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64

In [48]:
df_downsampled.shape

(200, 3)

In [49]:
df_downsampled.head()

     feature1  feature2  target
900 -2.643425  0.571923       1
901 -0.448991 -0.217233       1
902 -0.358907  0.054318       1
903  0.133194  0.155998       1
904 -0.644242  0.467810       1