## Measure of Central Tendency

In [1]:
# Mean(Average)
age = [12,21,23,45,65,85,45,66,12,54,32]

In [2]:
import numpy as np

In [3]:
np.mean(age)

41.81818181818182

In [4]:
weights = [55,65,35,40,67,66,25]

In [5]:
np.mean(weights)

50.42857142857143

In [6]:
import seaborn as sns

In [7]:
df = sns.load_dataset('tips')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [9]:
np.mean(df['total_bill'])

19.78594262295082

In [10]:
age = [12,21,23,45,65,85,45,66,12,54,32,200]

In [11]:
np.mean(age)

55.0

In [12]:
np.median(age)

45.0

In [13]:
from scipy import stats

In [14]:
stats.mode(age)

ModeResult(mode=12, count=2)

In [15]:
np.median(df['total_bill'])

17.795